/* Resetear márgenes y padding */
body, ul {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: rgb(132, 66, 118);
}

/* Estilo para la cabecera */
header {
  background-color: rgb(142, 35, 119);
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Estilo para el contenido principal */
main {
  padding: 2rem;
}

/* Estilo para el formulario de agregar producto */
.container {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  align-content: center;
  padding: 10px;
  padding-bottom: 20px;  
}

.container-button {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-content: center;
  background-color: rgb(142, 35, 119);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#agregarProducto, #mostrarStock, #buscarProducto {
  background-color: rgb(7, 7, 7);
  color: white;
  height: 30px;
  width: 130px;
}

#inventory-list, #inventory-list-api {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(169, 101, 154);
}

/* Estilos para los elementos de lista */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Estilos para el texto de los productos */
.product-info {
  flex: 1;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilos para el botón de eliminar */
.delete-btn {
  background-color: #b02e2e;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
